<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script
          src="http://code.jquery.com/jquery-1.12.4.min.js"
          integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
          crossorigin="anonymous">
    </script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <ul class="nav nav-pills">
                <li><a href="{{ url_for("users_page") }}">Users</a></li>
                {% if not g.user.is_authenticated %}
                <li><a href="{{ url_for("login") }}">Login</a></li>
                {% endif %}
                {% if g.user.is_authenticated %}
                <li><a href="{{ url_for("logout_page") }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="container">
	    {% block content %} {% endblock %}
    </div>

</body>
</html>
