{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col col-lg-12">
            <h2>Log in</h2>
            <form action="" id="login" method="post">
                <label for="name">Name</label>
                <input type="text" name="username" id="name">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>

            <hr>

            <h2>Sign in</h2>
            <form action="" id="signin" method="post">
                <label for="name">Name</label>
                <input type="text" name="username" id="name">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </div>


    <script>
        // Login
        $("#login").submit(function(e) {
            console.log('test');
            console.log($("#login").serialize());
            $.ajax({
               type: "POST",
               url: "/api/users/login",
               data: $("#login").serialize(),
               success: function(msg) {
                   if (msg.result === true) {
                       alert('User was succesfully logged in');
                       location.replace("/users");
                   }
                   else {
                       console.log(JSON.stringify(msg.result));
                       alert(JSON.stringify(msg.error))
                   }
               }
             });
            e.preventDefault();
        });


        // Sign in
        $("#signin").submit(function(e) {
            console.log('test');
            console.log($("#signin").serialize());
            $.ajax({
               type: "POST",
               url: "/api/users/signin",
               data: $("#signin").serialize(),
               success: function(msg) {
                   if (msg.result === true) {
                       // alert('User was succesfully logged in');
                       location.replace("/users");
                   }
                   else {
                       console.log(JSON.stringify(msg.result));
                       alert(JSON.stringify(msg.error))
                   }
               }
             });
            e.preventDefault();
        });
    </script>
{% endblock %}
