{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col col-lg-12">
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    getUsers();
                }, false);
            </script>

            <div id="user-list" class="panel panel-default">
                <table class="table">
                    <thead>
                        <tr>
                            <td><b>User</b></td>
                            <td><b>Role</b></td>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            {% if g.user.is_admin %}
                <hr>
                <h2>Add new user</h2>
                <form action="" id="user-add" method="post">
                    <label for="name">Name</label>
                    <input type="text" name="username" id="name">
                    <label for="role">Role</label>
                    <input type="text" name="role" id="role">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                    <button type="submit" class="btn btn-primary">Create user</button>
                </form>
            {% endif %}
        </div>
    </div>


    <script type="text/javascript">
        // Получение списка пользователей
        function getUsers() {
            $.ajax({
               type: "GET",
               url: "/api/users",
               success: function(msg){
                 console.log(JSON.stringify(msg));
                 data = msg;
                 setHtml();
               }
             });
        }

        // Сохранение новых данных о пользователе
        function saveUser(url, name, role) {
            $.ajax({
                type: "PUT",
                url: url,
                data: JSON.stringify({'username':name, 'role':role}),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(msg){
                 console.log(JSON.stringify(msg.result));
                 if (msg.result === true) {
                     console.log(JSON.stringify(msg.result));
                 }
                 else {
                     console.log(JSON.stringify(msg.result));
                     alert(JSON.stringify(msg.error))
                 }
               }
             });
        }

        // Удаление пользователя
        function delUser(url, row) {
            $.ajax({
               type: "DELETE",
               url: url,
               success: function(msg){
                 console.log(JSON.stringify(msg.result));
                 if (msg.result === true) {
                     row.remove();
                 }
                 else {
                     alert(JSON.stringify(msg.error))
                 }
               }
             });
        }

        // Добавление нового пользователя
        $("#user-add").submit(function(e) {
            $.ajax({
               type: "POST",
               url: "/api/users",
               data: $("#user-add").serialize(),
               success: function(msg) {
                   if (msg.result === true) {
                       alert('User was succesfully created');
                       getUsers();
                   }
                   else {
                       console.log(JSON.stringify(msg.result));
                       alert(JSON.stringify(msg.error))
                   }
               }
             });
            e.preventDefault();
        });


        // Добавление в HTML списка пользователей
        function setHtml() {
            var users = data['users'];

            // Если переданы данные позволяющие менять юзера
            if (data['is_admin']) {
                $('#user-list').find('tbody').find('tr').remove();
                $('#user-list').find('thead').find('td.optional').remove();
                $('#user-list').find('thead tr').append(
                    '<td class="optional"><b>Edit</b></td>' +
                    '<td class="optional"><b>Delete</b></td>'
                );
                for (row in users) {
                    $('#user-list').find('tbody').append(
                        '<tr>' +
                            '<td class="name"><input value="' + users[row].name + '"</input></td>' +
                            '<td class="role"><input value="' + users[row].role + '"></input></td>' +
                            '<td><button class="btn btn-primary edit" data-url="/api/users/' + users[row].uid +
                        '">save ' +
                        'user</button></td>' +
                            '<td><button class="btn btn-danger delete" data-url="/api/users/' + users[row].uid +
                        '">delete ' +
                        'user</button></td>' +
                        '</tr>'
                    );
                }
            }
            // Если есть права только на просмотр
            else {
                for (row in users) {
                    $('#user-list').find('tbody').append(
                        '<tr>' +
                            '<td>' + users[row].name + '</td>' +
                            '<td>' + users[row].role + '</td>' +
                        '</tr>');
                }
            }
        }


        // Сохранение измененной информации о пользователе
        $("body" ).on( "click", '.edit', function() {
            url = $(this).attr('data-url');
            name = $(this).parent().parent().find('.name input').val();
            role = $(this).parent().parent().find('.role input').val();
            console.log(role);
            saveUser(url, name, role);
        });

        // Удаление пользователя
        $("body" ).on( "click", '.delete', function() {
            url = $(this).attr('data-url');
            row = $(this).parent().parent();
            delUser(url, row);
        });

    </script>
{% endblock %}
